
.jumbotron{
    height: 450px;
    background-color: white;
    color: #383e56;
    margin-bottom: 11rem;
}
.display-3 {
    font-family:  'Roboto', sans-serif;
    font-weight: 600;
    font-size: 74px;
    color: #3f72af;
    padding: 0% 6%;
 }
 
 .lead{
     font-family: 'Roboto', sans-serif;
     margin-top: 40px;
     margin-bottom: 1rem;
     font-size: 25px;
 }

 .card{
 
 }


 .bannerBody{
    padding: 2% 10%;
    
 }
 .btn{
    border-radius: 40px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
 }

 .btn:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #383e56;
  }

  h5{
    padding: 0% 6%;
  }

  p{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: #76798a;
    padding: 0% 6%;
   
  }

  .word{
    color:#007bff;;
  }

  .aboutDiv{
      background-color: #e6f4ff;
  }