h1{
    font-size: 5.5rem; 
    font-weight: 800;
}

h2{
    font-weight: 800;

}

h6 {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 53px;
  
}

.colorBlock{
 color: #9747ff;
}

p{
    color: #28262c;
    line-height: 35px;
}

small, small {
    font-size: 80%;
    font-weight: 700;
    color: rgb(87, 45, 240);
}

.portBtn{
    background-color:  #9747ff;
    font-weight: 600;
    color: white;
}
.progress{
    background-color: #e8f0ff;
}
.progress-bar{
    background-color: #9747ff;
    color: white;
}

.btn {
    background-color: #e8f0ff;
    font-weight: 600;
    color: #9747ff;
    border-color: #9747ff;
}

.btn:hover {
    background-color: #9747ff;
    color: white;
 
}