#footer{
    margin-top: 11rem;
    color: #edeafc;
}
#footerBod{
    background-color:  #9747ff;
    
}
.text-uppercase{
  color:  #e8f0ff;
}
.footLink{
    color: #edeafc;
}
.col-md-3.mb-md-0.mb-3 {
padding: 1.5%;
}
a.mr-4.footLink,.copyR,a.footLink,.col-md-6.footer-copyright.text-center.py-3{
    font-weight: 600;
    font-size: small;
    color: #edeafc;
}


.footer-copyright{
   color:  #edeafc;
}